@media (max-width: 428px) {

    .container {
        padding: 0 24px;
    }

    /* header nav */
    .img-logo {
        width: 97px;
        height: 62px;
    }

    .menu-logo {
        display: block;
    }

    .menu {
        display: none;
    }

    .picture-arrow {
        display: none;
    }

    /* header Image */
    .picture_header {
        display: flex;
        flex-direction: column;
    }

    .heading-picture_header {
        font-size: 48px;
        width: auto;
        margin-top: 20px;
    }

    .div {
        padding-right: 0;
        margin-top: 0;
        margin-bottom: 28px;
    }

    .picture_header-para {
        width: auto;
        font-size: 20px;
    }

    .img-input1 {
        top: 30%;
        right: 90%;
    }

    .img-input2 {
        top: 13%;
        left: 87%;
    }

    .picture_header-left img:first-child {
        width: 100%;
    }

    .picture_header-right {
        order: 2;
    }

    .picture_header-left {
        order: 1;
        margin-bottom: 58px;
    }

    .line {
        display: flex;
        justify-content: flex-start;
    }

    .picture-arrow2 {
        display: block;
        height: 175px;
        width: 60px;
        bottom: 62%;
        z-index: 1;
    }

    .picture-arrow3 {
        height: 175px;
        width: 60px;
        bottom: 62%;
        z-index: 1;
        display: block
    }

    .picture-hard {
        display: none;
        position: absolute;
        left: 76%;
        z-index: -2;
        bottom: 5%;
    }

    .picture-barg {
        width: 77px;
        left: 80%;
        width: 77px;
        height: 52px;
    }

    .picture-orange {
        top: 80%;
        left: 77%;
    }

    /* offers */

    .head-img {
        top: 80%;
        left: 77%;
    }

    .offer-tittle-main {
        margin-top: 98px;
    }

    .h6-tittle {
        text-align: center;
    }

    .text-tittle {
        width: 100%;
    }

    .offer2 {
        display: none;
    }

    .offer3 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .content-offers {
        align-items: center;
        justify-content: center;
    }

    .img-poss {
        right: -24px;
    }

    /* about UA */
    .aboutUs {
        margin-top: 65px;
        display: flex;
        flex-direction: column;
    }

    .aboutUs-left {
        width: auto;
    }

    .vector {
        display: none;
    }

    .aboutUs-img {
        width: 330px;
        height: 410px;
    }

    .div-aboutus {
        display: flex;
        margin-top: 64px;
        width: auto;
    }

    .span-p {

        text-align: start;
    }

    .icon {
        gap: 20px;
    }

    /* menu title */

    .menu-title-span {
        width: auto;
        font-weight: 700;
        font-size: 48px;
        line-height: 67px;
        color: rgba(255, 255, 255, 1);
        max-width: 700px;
        text-align: center;
    }

    .menu-ban {
        display: none;
    }

    .menu-title-u {
        width: auto;
    }

    .menu-title-ul ul {
        gap: 5px;

    }

    .menu-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        padding-bottom: 8px;
        padding-top: 120px;
    }

    /* last picture */

    .picture-last {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 26px;
    }

    .picture-last-div{
        align-self: flex-start;
        order: 2;
        width: 100%;

    }

    .last-picture-img{
        width: 330px;
        height: 410px;
    }

    .picture-last-span1{
        font-size: 46px;
        line-height: 48px;
    }

    .picture-last-p{
        font-size: 18px;
        max-width: 350px;
        margin: 20px 0;
    }

    /* footer */

    .footer-product{
        display: flex;
        align-items: center;
        justify-content: stretch;
        gap: 80px;
    }
}